/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Imports
	# Custom properties
	# Reset
	# Typography
	# Elements
	# Links
# Accessibility
# Layout
# Forms
# Header
	# Main navigation menu
# Content navigation
# Footer
# Infinite scroll
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Imports
--------------------------------------------------------------*/
@import "_custom-properties.css";
@import "_reset.css";
@import "_typography.css";
@import "_elements.css";
@import "_links.css";

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/

.header-image {
	width: 350px;
	float: left;
	margin-left: 10% !important;
	display: block;
}

.site-branding {
	display: none;
}

.primary-sidebar {
	display: none;
}

.home {
	background: url(../images/background.jpg);
	background-repeat: no-repeat;
}

.home .entry-header {
	display: none;
}

/**
 * Text meant only for screen readers.
 * Re: word-wrap: Many screen reader and browser combinations announce broken
 * words as they would appear visually.
 */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	word-wrap: normal !important;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 0.875rem;
	font-weight: 700;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/
.site {
	margin: 0 auto;
	max-width: 100%;
}

@media (--sidebar-query) {

	.has-sidebar .site {
		margin: 0 1em;
		display: grid;
		grid-template-columns: 3fr 1fr;
		grid-gap: 2rem;
		justify-content: center;
	}

	.site-header,
	.site-footer {
		grid-column: 1 / -1;
	}

	.site-main {
		grid-column: 1;
		min-width: 0;
	}

	.primary-sidebar {
		grid-column: 2;
		min-width: 0;
	}
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
/* stylelint-disable */
textarea {
	width: 100%;
}
/* stylelint-enable */

/* stylelint-disable */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: var(--border-color-light) var(--border-color-light) #bbb;
	border-radius: 3px;
	background: #eee;
	color: rgba(0, 0, 0, 0.8);
	font-size: 0.75rem;
	line-height: 1;
	padding: 0.6em 1em 0.4em;
	cursor: pointer;
}
/* stylelint-enable */

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: var(--border-color-light) #bbb #aaa;
}

button:active,
button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid var(--border-color-light);
	border-radius: 3px;
	padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

select {
	border: 1px solid var(--border-color-light);
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/


.footer-links,
.footer-links a,
.footer-links a:visited,
.footer-links a:hover,
.footer-data {
	text-decoration: none;
	color: #fff;
	display: inline-block;
}

#primary-menu {
	padding-top: 15px;
	margin-right: 0px;
}

.site-header {
	margin-top: 1em;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #fff;
	height: 65px;
}

.header-image {
	margin: 0 auto;
}

.header-image img {
	display: block;
	margin: 0 auto;
}

.custom-logo-link {
	display: inline-block;
	margin: 0 auto 1em;
}

.site-branding {
	text-align: center;
	padding: 60px 0 1.75em;
	@media (--narrow-menu-query) {
		padding: 1.75em 0;
		margin:0;
	}
}

.site-title {
	margin: 0 1em;
	font-family: var(--highlight-font-family);
	font-stretch: condensed;
	font-size: 38px;
	font-weight: 700;
	line-height: 1.2;
}

.site-title a {
	text-decoration: none;
	color: inherit;
}

.site-description {
	margin: 0.4375em 0 0;
	font-family: var(--highlight-font-family);
	font-stretch: condensed;
	font-size: 17px;
	font-weight: inherit;
	line-height: 1.4;
	word-wrap: break-word;
	color: #757575;
}

/*--------------------------------------------------------------
## Basic navigation menus - handles submenu and small screen toggle
--------------------------------------------------------------*/
.nav--toggle-small .menu-toggle {
	display: block;
	margin: 0;
	padding: 0.6em 1.2em 0.5em;
	font-family: var(--highlight-font-family);
	font-stretch: condensed;
	font-size: 80%;
	text-transform: uppercase;
	border: 2px solid var(--border-color-dark);
	border-radius: 0;
	background: transparent;


	&.icon {
		border:none;
		position: absolute;
		top: 40px;
		left: 5px;
		display:none;

		& rect {
			fill: white;
		}
		& path {
			fill: white;
		}

		@media (--narrow-menu-query) {
			display:block;
		}

		& .dashicons-menu-alt:before {
			font-size: 40px;
		}

		& svg.close {
			display:none;
		}
	}
}

.nav--toggle-small {
	& .menu {
		display: none;
	}
	&.nav--toggled-on {
		& .menu {
			display: block;
		}
		@media (--wide-menu-query) {
			& .menu {
				display: flex;
				justify-content: center;
			}
		}

		& .menu-toggle.icon svg.close {
			display: block;
		}
		& svg.open-menu {
			display: none;
		}

	}
	&.icon-nav {
		& .menu {
			display: block;
		}
		@media (--wide-menu-query) {
			& .menu {
				display: flex;
				justify-content: center;
			}
		}
		@media (--narrow-menu-query) {
			& .primary-menu-container {
				display: none;
				position: absolute;
				background: #000d4f;
				width: 100vw;
				top: 300px;
				left: 0;
				height: 200%;
				padding: 20px 30px;
				opacity: 0;
				transition: opacity .3s, top .3s ease-out;
			}
			&.nav--toggled-on {
				& .menu-toggle span.dashicons:before {
					content: "\f158";
				}
				& .primary-menu-container {
					display: block;
					top: 180px;
					opacity: 0.9;
					transition: opacity .3s, top .3s ease-out;
				}
			}
		}

	}
}

.nav--toggle-small,
.nav--toggle-sub .dropdown,
.nav--toggle-sub .dropdown-toggle {
	display: none;
}

@media (--narrow-menu-query) {

	.nav--toggle-small.nav--toggled-on .menu {
		display: block;
	}
}

@media (--wide-menu-query) {

	.nav--toggle-small .menu-toggle {
		display: none;
	}

	.nav--toggle-small .menu {
		display: block;
	}

	.nav--toggle-sub ul ul {
		display: none;
		position: absolute;
		top: 100%;
		flex-direction: column;
		background: #000d4f;
		margin-left: 0;
		box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
		z-index: 100;
	}

	.nav--toggle-sub .dropdown,
	.nav--toggle-sub .dropdown-toggle {
		display: block;
		background: transparent;
		position: absolute;
		right: 0;
		top: 50%;
		width: var(--dropdown-symbol-width);
		height: var(--dropdown-symbol-width);
		font-size: inherit;
		line-height: inherit;
		margin: 0;
		padding: 0;
		border: none;
		border-radius: 0;
		transform: translateY(-50%);
		overflow: visible;
	}

	.nav--toggle-sub .dropdown-symbol {
		display: block;
		background: transparent;
		position: absolute;
		right: 20%;
		top: 35%;
		width: 60%;
		height: 60%;
		border: solid var(--border-color-dark);
		border-width: 0 2px 2px 0;
		transform: translateY(-50%) rotate(45deg);
	}

	.nav--toggle-sub ul ul .dropdown,
	.nav--toggle-sub ul ul .dropdown-toggle {
		top: 40%;
		right: 0.2em;
	}

	.nav--toggle-sub ul ul .dropdown-symbol {
		transform: rotate(-45deg);
	}

	.nav--toggle-sub .dropdown-toggle:hover,
	.nav--toggle-sub .menu-item--has-toggle:hover .dropdown-toggle {
		pointer-events: none;
	}

	/* Need menu-item-has-children for non-JS */
	.nav--toggle-sub li.menu-item-has-children,
	.nav--toggle-sub li.menu-item--has-toggle {
		position: relative;
		padding-right: var(--dropdown-symbol-width);
	}

	/*
	 * If the dropdown toggle is active with JS, then
	 * we'll take care of showing the submenu with JS.
	 */
	.nav--toggle-sub li:hover > ul,
	.nav--toggle-sub li.menu-item--toggled-on > ul,
	.nav--toggle-sub li:not(.menu-item--has-toggle):focus > ul {
		display: block;
	}

	/*
	 * "focus-within" is an alternative to focus class for
	 * supporting browsers (all but IE/Edge) for no-JS context
	 * (e.g. AMP) See https://caniuse.com/#feat=css-focus-within
	 *
	 * This selector needs to stay separated, otherwise submenus
	 * will not be displayed with IE/Edge.
	 */
	.nav--toggle-sub li:not(.menu-item--has-toggle):focus-within > ul {
		display: block;
	}
}

/*--------------------------------------------------------------
## Main navigation menu
--------------------------------------------------------------*/
.main-navigation {
	display: block;
	padding: 0 1em;
	margin: 0 auto 0.5em;
	max-width: 100%;
	font-family: var(--highlight-font-family);
	font-stretch: condensed;
}

.main-navigation a {
	display: block;
	width: 100%;
	padding: 0.5em 1em 0.5em 0;
	text-decoration: none;
	color: #fff;
}

.main-navigation a:hover,
.main-navigation a:focus {
	text-decoration: underline;
}

.main-navigation .current-menu-item > a,
.main-navigation .current-menu-ancestor > a {
	font-weight: 600;
}

.main-navigation ul {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}

.main-navigation ul ul li {
	padding-left: 1em;
}

@media (--wide-menu-query) {

	.main-navigation ul li a {
		padding: 0.4em 0.5em;
	}

	.main-navigation ul li {
		margin: 0 0 0 0.5em;
	}

	.main-navigation ul li:first-child {
		margin-left: 0;
	}

	.main-navigation ul ul a {
		width: 200px;
	}

	/* stylelint-disable */
	.main-navigation ul ul li {
		padding-left: 0;
		margin-left: 0;
	}
	/* stylelint-enable */

	.main-navigation ul ul li a {
		width: 218px;
		background: none;
	}

	.main-navigation ul ul ul {
		top: 0;
		left: 100%;
		min-height: 100%;
	}

	.main-navigation .menu {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}

/*--------------------------------------------------------------
# Content navigation
--------------------------------------------------------------*/
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation,
.site-main .pagination {
	border-bottom: 1px solid var(--border-color-dark);
	margin: 0 auto 2em;
	max-width: var(--content-width);
	overflow: hidden;
	padding: 0 1.5rem 2em;
	font-family: var(--highlight-font-family);
	font-stretch: condensed;
}

@media (--content-query) {

	.site-main .comment-navigation,
	.site-main .posts-navigation,
	.site-main .post-navigation,
	.site-main .pagination {
		padding-left: 0;
		padding-right: 0;
	}
}

.nav-links {
	display: flex;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	width: 50%;
	flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	text-align: end;
	flex: 1 0 50%;
}

.post-navigation-sub span {
	color: var(--global-font-color);
	text-decoration: none;
	display: inline-block;
}

.site-main .pagination {
	margin-bottom: 1.5em;
}

.pagination .nav-links {
	justify-content: center;
	flex-wrap: wrap;
}

.pagination .page-numbers {
	display: inline-block;
	margin-bottom: 0.5em;
	margin-right: 1em;
	border: 1px solid var(--color-link);
	min-width: 1.75em;
	line-height: 1.75;
	text-align: center;
	text-decoration: none;
}

.pagination a:visited {
	color: var(--color-link);
}

.pagination a:hover,
.pagination a:focus,
.pagination a:active {
	border-color: var(--color-link-active);
}

.pagination .prev,
.pagination .next {
	min-width: auto;
	border-color: transparent;
	text-decoration: underline;
}

.pagination .prev:hover,
.pagination .prev:focus,
.pagination .prev:active,
.pagination .next:hover,
.pagination .next:focus,
.pagination .next:active {
	border-color: transparent;
}

.pagination .dots {
	min-width: auto;
	border: none;
}

.pagination .current {
	border-color: var(--border-color-dark);
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.site-footer {
	margin: 1em 0 0;
	padding: 2em 0;
	font-family: var(--highlight-font-family);
	font-stretch: condensed;
}

.site-info {
	text-align: center;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll .pagination,
.infinite-scroll.neverending .site-footer {

	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that
were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

.home .entry-footer {
	display: none;
}

h1 {
	text-align: center;
}

.speakers_button,
.speakers_button:visited,
.speakers_button:hover {
	font-family: Montserrat;
	font-size: 27px;
	outline: 0;
	text-decoration: none;
	display: block;
	background: #000d4f;
	width: 238px;
	padding: 18px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
	margin-bottom: 80px;
	color: #fff;
}

.speakers_main,
.sponsors_main,
.schedule_main,
.articles_main {
	padding-left: 9%;
	padding-bottom: 40px;
	padding-right: 9%;
	text-align: center;
}

.speakers_main {
	padding-top: 20px;
	background: #edf0f4ff;
}

.speaker_text {
	width: 100%;
	display: none;
	font-size: 12pt;
	height: 411px;
	background: rgba(230, 51, 35, 0.9);
	color: white;
}

.speaker_text_in {
	display: grid;
	height: 411px;
}

.showText > .speaker_text {
	display: table!important;
}

.showText > .speaker_extname {
	display: none;
}

.speaker_extname_in {
	display: grid;
	width: 333px;
	height: 411px;
}

.speaker_extname_in > .speaker_name {
	align-self: flex-end;
	padding-top: 10px !important;
	background: rgba(230, 51, 35, 0.9);
	padding-bottom: 10px !important;
	color: white;
}

.speaker_extname_in > .speaker_name::after {
	content: "";
	border-bottom: 0;
	display: none;
	margin: 0;
}

.speaker_extname {
	display: table;
	width: 333px;
	height: 411px;
}

.speaker_name,
.speaker_excerpt,
.speaker_title,
.speaker_link {
	padding-left: 20px;
	padding-right: 20px;
	display: grid;
}

.speaker_link {
	padding-bottom: 20px;
	font-weight: bold;
	align-self: flex-end;
}

.speaker_name {
	padding-top: 120px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16pt;
}

.speaker_name::after {
	content: "";
	border-bottom: 1px solid #fff;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 30px;
}

.speaker_link > a,
.speaker_link > a:hover,
.speaker_link > a:visited {
	color: #fff;
	text-decoration: none;
}

.speaker_title {
	margin-top: 15px;
	margin-bottom: 15px;
}

.speaker_name,
.speaker_text,
.speaker_title,
.speaker_link{
	text-align: center;
}

.home .speaker {
	width: 333px;
	height: 411px;
	margin-bottom: 30px;
	margin-left: 45px;
	display: inline-block;
	background-repeat: no-repeat;
}

.speakers {
	width: 100%;
	min-height: 300px;
}

.speakers_text {
	padding-bottom: 30px;
}

.speakers_title,
.articles_title,
.sponsors_title,
.schedule_title {
	text-transform: uppercase;
	color: #000d4fff;
	font-family: Montserrat;
	font-size: 40px;
}

.schedule_content {
	padding-bottom: 20px;
}

.schedule_main .wp-block-table.is-style-stripes{
	border-bottom: none;
}

.schedule_main .schedule_content tbody tr:nth-child(odd) {
    background-color: #edf0f4;
}

.schedule_main td:first-of-type {
	text-align: center;
}

.schedule_main td:last-of-type {
	text-align: left;
}


.home .sponsor {
	width: 26rem;
	height: 10rem;
	margin-bottom: 1rem;
	display: flex;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.single article {
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 150px;
}

.single {
	background: url(../images/background_single.jpg);
	background-repeat: no-repeat;
}

.home .entry {
	margin-bottom: 0;
}

.sponsors h2 {
	display: inline-block;
	font-size: 36px;
	color: #000d4f;
	border-top: #000d4f dotted;
	border-bottom: #000d4f dotted;
}

ul.sponsors {
	width: 100%;
	min-height: 300px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.red-left {
	background: #e63323ff;
	color: #fff;
	text-align: right;
	padding-right: 60px;
}

.blue-right {
	padding-left: 60px;
	background: #000d23ff;
	color: #fff;
	margin-left: 0 !important;
	min-height: 300px;
}

@font-face {
	font-family: Montserrat;
	src: url(../fonts/Montserrat-Light.otf);
}
@font-face {
	font-family: MontserratSemiBold;
	src: url(../fonts/Montserrat-SemiBold.otf);
}



#primary-menu a,
body {
	font-family: Montserrat;
}

.wp-block-column {
	margin-left: 0;
}

.wp-block-columns {
	margin-bottom: 0;
}

h2 {
	font-family: Montserrat;
	font-size: 40px;
}

.blue-right h2,
.red-left h2 {
	line-height:0;
	padding-top: 9%;
}

#unete-al-cambio {
	font-size: 70px;
}

#i-conferencia-de-agilidad-en-la-empresa-aragonesa {
	font-size: 40px;
	font-family: MontserratSemiBold !important;
}

.blue-right p {
	font-family: Montserrat;
	font-size: 24px;
}

.red-left p {
	font-family: Montserrat;
	font-size: 31px;
}

.site-footer {
	background: #000d4fff;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.footer-image {
	margin-right: 4rem;
	display: flex;
}

.footer-content {
	color: #fff;
	display: flex;
}

.footer-data {
	margin-right: 4rem;

}
.footer-links {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.tickets {
	padding: 20px;
	font-size: 16pt;
}

.social {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.social a {
	margin: .7rem;
}

.home div.wp-block-column {
	margin: 0;
}

.home .wp-block-column h2 {
	margin-top: 2rem;
	margin-left: 2rem;
}

.home .wp-block-column p {
	padding-left: 2rem;
	padding-right: 2rem;
}

.home div.article {
	display: block;		
	margin-left: 0;
	margin-bottom: 3rem;
	background-position: center;
	max-width: 100%;
}

.home div.speaker {
	background-position-x: center;
}

.home ul.sponsors {
	flex-wrap: wrap;
}

.home div.sponsor {
	margin-left: 10px;
	margin-right: 10px
}

.home div.sponsor {
	margin-left: 10px;
	margin-right: 10px
}

.home .sponsors-especial div.sponsor {
	width: 500px;	
}

.home .sponsors-platino div.sponsor {
	width: 300px;	
}

.home .sponsors-oro div.sponsor {
	width: 250px;	
}

.home .sponsors-colaborador div.sponsor {
	width: 200px;	
}

@media (--mobile-query) {

	div.blue-right, div.red-left {

		display: flex;
		padding: 2rem;
		flex-direction: column;
	}

	.blue-right h2, .red-left h2 {
		line-height: normal;
		overflow-wrap: normal;
		align-self: center;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	.blue-right p, .red-left p {
		line-height: normal;
		overflow-wrap: normal;
		align-self: center;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	.home div.wp-block-column {
		padding-bottom: 1rem;
	}

	.home .wp-block-column h2 {
		text-align: center;
		margin: 0;
		padding: 0;
	}

	ul.speakers, ul.sponsors {
		display: flex;		
		flex-direction: column;
		align-items: center;
		padding: 0rem;
	}

	.home div.speaker {
		display: flex;		
		margin-left: 0;
		margin-bottom: 3rem;
		background-position: center;
	}

	.home div.sponsor {
		display: flex;		
		margin-left: 0;
		margin-bottom: 3rem;
		background-position: center;
		max-width: 95%;
	}

	.home div.sponsor:last-child {
		margin-bottom: 0;
	}

	.home ul.articles {
		padding: 0;
	}

	.home div.sponsor {
		margin-bottom: 0;
	}
}

@media (--mobile-query) {
	footer.site-footer {
		padding-top: 0;
		padding-bottom: 2rem;
		background-color: #000d4f;
		display: flex;
		flex-direction: column;
	}

	.site-footer img {
		margin: 0;
	}

	.site-footer .footer-content {
		margin: 0;
		display: block;
		float: none;
		}
	.site-footer .footer-data {
		padding-top: 1rem;
		margin-right: 0;
		text-align: center;
		display: block	;
	}
	.site-footer .footer-links {
		display: flexbox;
		flex-direction: column;
	}
	.site-footer .footer-links {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.site-footer .footer-links a {
		text-align: center;
		text-decoration: underline;
	}
	.site-footer .social {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;		
	}
	.site-footer .social a {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-basis: 4rem;
	}
}



